
<ion-header>

  <ion-navbar color="energy">
    <ion-title>报销详情</ion-title>
  </ion-navbar>

</ion-header>

<ion-content id="details">
  <ion-list id="top">
    <ion-item>
      <h3 class="title-name">王博文</h3>
      <p class="submit-review">提交时间：2017-08-19</p>
      <p class="submit-review">审核时间：2017-08-26</p>
      <button ion-button color="orange" round item-right id="status-check">待审核</button>
    </ion-item>
  </ion-list>
  <ion-list no-lines id="under">
      <ion-item *ngFor="let item of items">
        <p class="left-text"><span class="title-data">{{item.Immutable}}：</span><span class="varble">{{item.variable}}</span></p>
      </ion-item>
      <div id="picture-show">
        <span>凭证：</span>
        <div class="certificate-pic">
          <img src="assets/imgs/check_pic1.png" class="img-eff"/>
          <img src="assets/imgs/check_pic2.png" class="img-eff"/>
        </div>
      </div>
      <div id="bottom">
          <ion-item *ngFor="let post of posts" id="firstBorder">
            <p class="left-text"><span class="title-data">{{post.Immutable}}：</span><span class="varble">{{post.variable}}</span></p>
          </ion-item>
      </div>
      <!-- <ion-item *ngFor="let post of posts" id="firstBorder">
          <p class="left-text"><span class="title-data">{{post.Immutable}}：</span><span class="varble">{{post.variable}}</span></p>
        </ion-item> -->
  </ion-list>
  <!-- <ion-list no-lines>
      <ion-item *ngFor="let post of posts" id="firstBorder">
          <p class="left-text"><span class="title-data">{{post.Immutable}}：</span><span class="varble">{{post.variable}}</span></p>
        </ion-item>
  </ion-list> -->
  <!-- <button ion-button fixed full block id="button" color="buttoncolor" (click)="send()">去寄件</button> -->
</ion-content>
