page-login {
    #content {
        .title {
            padding:7.875rem 0 6.5rem 0;
            text-align: center;
            .item-inner {
                padding: 0;
            }
            h1 {
                font-size: 4rem;
                color:#33ccff;
                font-family: pingFang-SC-Regular;
                font-weight: bold;
            }
        }
        .ipt {
            padding-left: 3.75rem;
            padding-right: 3.75rem;
            z-index: 11;
            .item-inner{
                border-bottom: 1px solid#acd0e1;
            }
            ion-input {
                .text-input {
                    text-indent: 1rem;
                }
            }
        }
        .noLine {
            .item-inner{
                border-bottom: none;
            }
        }
        .login {
            margin-top: 3.75rem;
            ion-label {
                margin:  0;
                button {
                    height: 40px;
                }
            }
        }
    }
    ion-footer {
        i {
            width: 100%;
            img {
                width:100%;
                margin-bottom: -5px;
            }
        }
    }
    .footer-md::before {
        background-image:none;
    }
}
