page-contacts {

    .header-ios .toolbar-ios:last-child .toolbar-background-ios{
        border-width: 0 0 0;
    }
    #contacts{
        background-color: #f4f4f4;
        position: relative;
        #contact-list{
            &.item-ios .item-inner:last-child{
                border-bottom: 0;
            }
        }
        // &.item-block .item-inner:last-child{
        //     border-bottom: 0;
        // }
        .person{
            font-size: 18px;
            margin-left: 5px;
        }
        p{
            color: #999;
            font-size: 1.5rem;
            span{
                padding-left: 10px;
            }
        }
        #letter{
            width: 5%;
            position: fixed;
            top: 20%;
            right: 6%;
            z-index: 100;
            text-align: center;
            p{
                font-family: "Arial";
                font-size: 14px;
                color: #999;
                line-height: 5px;
                cursor: pointer;
            }
        }
    }
    #toolbar{
        &.segment-ios .segment-button{
            border-color: #38c0ff;
            color: #38c0ff;
            font-size: 1.6rem;
        }
        &.segment-ios .segment-button.segment-activated{
            background-color: #38c0ff;
            color: #fff;
        }
        &.segment-md .segment-button{
            color: #38c0ff;
            font-size: 1.6rem;
        }
        &.segment-md .segment-button.segment-activated{
            border-color: #38c0ff;
        }
    }
}
