
<ion-header>
  <ion-navbar  color="energy" text-center>
    <ion-title>通讯录</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name='search'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top no-border-bottom color="white">
    <ion-segment [(ngModel)]="pet" id="toolbar">
      <ion-segment-button value="internal">
        内部通讯录
      </ion-segment-button>
      <ion-segment-button value="external">
        外部通讯录
      </ion-segment-button>
      <ion-segment-button value="business">
        商务通讯录
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content id="contacts" (ionScroll)="onScroll()">
  <div [ngSwitch]="pet">
    <!-- 内部通讯录 -->
    <div *ngSwitchCase="'internal'">
      <ion-item-group *ngFor="let item of contacts" #IonItemGroup>
        <ion-item-divider color="bgColor" sticky index-key="item.belong">
          <ion-label>A</ion-label>
        </ion-item-divider>
        <ion-item-sliding #slidingItem>
          <ion-item id="contact-list">
            <ion-thumbnail item-start>
              <img src="assets/imgs/avatar4.png">
            </ion-thumbnail>
            <h2>{{item.username}} <ion-icon name="my-avatar" color="{{item.sex | color}}" class="person"></ion-icon></h2>
            <p>{{item.department}} <span>{{item.position}}</span></p>    
          </ion-item>
        </ion-item-sliding>        
      </ion-item-group> 
    </div>
    <!-- 内部通讯录 -->

    <!-- 外部通讯录 -->
    <div *ngSwitchCase="'external'">
        
    </div>

      <!-- 商务通讯录 -->
      <div *ngSwitchCase="'business'">
          <ion-item-group>
            <ion-item-divider color="bgColor" >A</ion-item-divider>
            <ion-item *ngFor="let business of businesses" id="contact-list" (click)="openBusinessPage(business)">
              <ion-thumbnail item-start>
                <img [src]="business.imageUrl">
              </ion-thumbnail>
              <h2>{{business.contactName}} <ion-icon name="my-avatar" color="energy" class="person"></ion-icon></h2>
              <p>{{business.branch}} <span>{{business.post}}</span></p>    
            </ion-item>
          </ion-item-group>
          <ion-item-group>
            <ion-item-divider color="bgColor" >B</ion-item-divider>
            <ion-item *ngFor="let business of businesses" (click)="openBusinessPage(business)">
              <ion-thumbnail item-start>
                <img [src]="business.imageUrl">
              </ion-thumbnail>
              <h2>{{business.contactName}} <ion-icon name="my-avatar" color="womenColor" class="person"></ion-icon></h2>
              <p>{{business.branch}} <span>{{business.post}}</span></p>    
            </ion-item>
          </ion-item-group>
          <ion-item-group>
              <ion-item-divider color="bgColor">C</ion-item-divider>
              <ion-item *ngFor="let business of businesses" (click)="openBusinessPage(business)">
                <ion-thumbnail item-start>
                  <img [src]="business.imageUrl">
                </ion-thumbnail>
                <h2>{{business.contactName}} <ion-icon name="my-avatar" color="energy" class="person"></ion-icon></h2>
                <p>{{business.branch}} <span>{{business.post}}</span></p>    
              </ion-item>
            </ion-item-group>
        </div>
  </div>

  <div id="letter">
    <p *ngFor="let letter of indexes; let i = index">{{letter}}</p>
  </div>
  <div class="modal"
    [class.show]="showModal">
    {{index}}
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
