
<ion-header >

  <ion-navbar color="energy" no-border-bottom>
    <ion-title>申请借款</ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="submit">
        提交
      </button>
   </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content id="content">
  <ion-list>
    <ion-item>
      <ion-label>预计借款时间</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" cancelText="取消" doneText="确认" max="2020-10-31" [(ngModel)]="aa"></ion-datetime>
    </ion-item>
    <ion-item *ngFor="let item of items">
        <ion-label>{{ item.title }}</ion-label>
        <ion-select [(ngModel)]="item.message">
          <ion-option >2017-08-19</ion-option>
          <ion-option >王博文</ion-option>
        </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item class="money">
      <ion-label>借款金额</ion-label>
      <ion-input type="text" item-right placeholder="请输入金额"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>参与人<span class="selFont">(选填)</span></ion-label>
      <ion-input type="text" item-right placeholder="请输入参与人"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>商品链接<span class="selFont">(选填)</span></ion-label>
      <ion-input type="text" item-right placeholder="请输入链接"></ion-input>
    </ion-item>
    <ion-item class="noBBottom">
      上传凭证
    </ion-item>
    <ion-item>
      <div class="upload">
        <span class="image" (click)="addImage()"><img class="img" src="assets/imgs/addImage.png"></span>
        <span class="image" *ngFor="let item of Iamges;let i = index;"><img class="img" src="{{item.url}}"><i (click)="delImage(i)"><img src="assets/imgs/close.png"></i></span>
      </div>
    </ion-item>
    <ion-item class="noBBottom">
      说明
    </ion-item>
    <ion-item>
      <ion-input placeholder="例如： 交代清楚报销事由" clearInput class="expl"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
