page-reimdetails {
    #details{
        // background: url('/assets/imgs/check_pic1.png');
        .list-ios{
            margin-bottom: 10px;
        }
        #top{
           &.list-ios > .item-block:first-child{
                border-top: 0 none;
                // padding-left: 30px;
            }
            &.list-md > .item-block:last-child{
                border-bottom: 0.55px solid #c8c7cc;
               
            }
            &.list-wp > .item-block:last-child{
                border-bottom: 1px solid #c8c7cc;
               
            } 
        }
        
        .title-name{
            font-size: 28px;
            color: #333;
        }
        .submit-review{
            font-size: 18px;
            color: #999;
        }
        #status-check{
            font-size: 16px;
        }
        #under{
            &.list > .item-block{
                padding-left: 10px;
            }
            &.list > .item-block:last-child{
                border-bottom: 0 none;
            }
            .item-block{
                min-height: 2rem;
                .item-inner{
                    height: 2.5rem;
                }
                .left-text{
                    font-size: 18px;
                    display: flex;
                    .title-data{
                        display: inline-block;
                        width: 8rem;
                        margin-right: 10px;
                        text-align: right;
                    }
                    .varble{
                        color: #333;
                    }
                }
            }
        }
        #button{
            margin-bottom: 0;
            font-size: 18px;
            color: #fff;
        }
        #picture-show{
            display: flex;
            justify-content: flex-start;
            margin-bottom: 15px;
            height: 100%;
            width: 100%;
            span{
                display: inline-block;
                width: 8.8rem;
                text-align: right;
                font-size: 1.8rem;
                color: #999;
                margin-right: 10px;
            }
            .certificate-pic{
                display: flex;
                flex-wrap: wrap;
                .img-eff{
                    display: inline-block;
                    max-width: 100%;
                    height: 100px;
                    margin-right:10px;
                    margin-bottom: 10px;
                }
            }
            
        }
    }
}
