page-numberNew {
    #number{
        background: #f4f4f4;
      #mobile{
        //background: #f4f4f4;
        .before-number{
          background-color: #f4f4f4;
          .prompt{
            font-size: 16px;
            color: #666;
            i{
              color: red;
              font-size: 18px;
              margin-right: 5px;
              vertical-align: middle;
            }
          }
        }
        .input-send{
          margin: 0 10px 0 20px ;
          width: 90%;
          .code{
            text-decoration: none;
            color:#2aadea;
          }

        }
      }
      .next{
        width: 80%;
        margin: auto;
      }
    }
}
