page-borrowmanage {
    .toolbar-background-ios{
        border-style:none !important;
    }
    #title-pointer{
        display: flex;
        justify-content: center;
        align-items: center;
        &.title-ios{
            margin-top:0.4rem;
        }
        &.title-md{
            padding-top:0.5rem;
            margin-left: 7rem;
            &.backActive {
                margin-left: 12rem;
            }
        }
        .down-center{
            margin-left: 0.5rem;
            vertical-align: middle;
        }
    }
    .apply{
        font-size: 1.5rem;
    }
    #borrowManage-c {
        position: relative;
        background-color: #f4f4f4;
        #select-all {
            width: 100%;
            position: fixed;
            left: 0;
            top:44px;
            z-index: 10;
            .item-block:first-child{
                border-top:none;
            }
            .item-ios,.item-md{
                text-align: center;
                padding-left: 0;
                color:gray;
                &.active-child{
                    color: #38c0ff;
                }
            }
        }
        #under-model{
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .5);
            z-index: 2;
        }
        #status-list{
            width: 100%;
            .list-ios > .item-block:first-child{
                border: 0 none;
            }
            .list > .item-block:first-child{
                border: 0 none;
            }
            .list-ios > .item-block:last-child{
                border-bottom: 0 ;
            }
            .list > .item-block:last-child{
                border-bottom: 0 ;
            }
            .title-name{
                font-size: 2rem;
                color: #333;
            }
            .item-ios{
                padding-left: 0;
            }
            .item-inner{
                padding-left: 16px;
            }
            .happen{
                font-size: 1.6rem;
                color: #999;
            }
            .time-date{
                // display: flex;
                // flex-direction: column;
                text-align: right;
                .new-time{
                    font-size: 1.4rem;
                    color: #999;
                }
            }
        }
    }
}
