page-reim-auditopinon {

    #reim-auditopinon {
        background-color: #f4f4f4;
        .item-ios,.item-md{
            padding: 0px;
            .item-inner{
                padding-left: 14px;
                border-bottom: 0.2px solid #eeecf5;
            }
            &.noBBottom .item-inner {
                border-bottom: none;
                .label {
                    margin:0px;
                }
            }
        }
        .expl {
            width: 100%;
            height: 12rem;
            border: none;
            padding: 1rem 0;
            resize: none;
        }
    }
}
