page-announcement {
    #notice-list{
        background-color: #e8e8e8;
        .notice{
            margin-bottom: 10px;
            background-color: #fff;
            .card-header{
                padding-bottom: 0;
                font-size: 18px;
                font-weight: bold;
            }
            .card-content{
                .item{
                    padding-left: 0;
                    .item-inner{
                        border-bottom: 0;
                    }
                }
                .text{
                    color:#677077;
                }
                .notice-img{
                    .col{
                        img{
                            height: 110px;
                        }
                    }
                }
            }
        }
    }
}
