
@font-face {font-family: "Ionicons";
    src: url('../assets/fonts/iconfont.eot?t=1504078108792'); /* IE9*/
    src: url('../assets/fonts/iconfont.eot?t=1504078108792#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/fonts/iconfont.woff?t=1504078108792') format('woff'),
    url('../assets/fonts/iconfont.ttf?t=1504078108792') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../assets/fonts/iconfont.svg?t=1504078108792#iconfont') format('svg'); /* iOS 4.1- */
  }
  
  .icon {
    font-family:"Ionicons" !important;
    font-size:28px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .ion-ios-my-avatar:before { content: "\e632";}
  .ion-md-my-avatar:before { content: "\e632";}
//   .ion-ios-my-touxiang-outline:before { content: "\e632"; }
.ion-ios-my-arrow-left:before { content: "\e603"; }
.ion-md-my-arrow-left:before { content: "\e603"; }

.ion-ios-my-arrow-right:before { content: "\e612"; }
.ion-md-my-arrow-right:before { content: "\e612"; }