
<ion-header>

  <ion-navbar color="energy">
    <ion-title>报销详情</ion-title>
  </ion-navbar>

</ion-header>

<ion-content id="details">
  <ion-list id="top">
    <ion-item>
      <h3 class="title-name">王博文</h3>
      <p class="submit-review">提交时间：2017-08-19</p>
      <p class="submit-review">审核时间：2017-08-26</p>
      <div class="btn" item-right>
        <button ion-button color="blue" round class="status-check">已报销</button>
        <p class="money">200元</p>
      </div>
      

    </ion-item>
  </ion-list>
  <ion-list no-lines id="under">
      <ion-item *ngFor="let item of items">
        <p class="left-text"><span class="title-data">{{item.Immutable}}：</span><span class="varble">{{item.variable}}</span></p>
      </ion-item>
      <div id="picture-show">
        <span>凭证：</span>
        <div class="certificate-pic">
          <img src="assets/imgs/check_pic1.png" class="img-eff"/>
          <img src="assets/imgs/check_pic2.png" class="img-eff"/>
        </div>
      </div>
      <div id="bottom">
        <ion-item *ngFor="let post of posts" id="firstBorder">
          <p class="left-text"><span class="title-data">{{post.Immutable}}：</span><span class="varble">{{post.variable}}</span></p>
        </ion-item>
      </div>
  </ion-list>
  <ion-list no-lines id="reason">
    <button ion-item (click)="itemReason()">
      审核过程/原因
    </button> 
  </ion-list>
</ion-content>
