page-reimbursed {
    #details{
        background: #f4f4f4;
        .list-ios{
            margin-bottom: 1px;
        }
        .list-md{
            @extend .list-ios;
        }
        #top{
           &.list-ios > .item-block:first-child{
                border-top: 0 none;
            }
            &.list-md > .item-block:last-child{
                border-bottom: 0.55px solid #c8c7cc;
               
            }
            &.list-wp > .item-block:last-child{
                border-bottom: 1px solid #c8c7cc;
               
            } 
            .btn{
                text-align: center;
                .status-check{
                    font-size: 16px;
                }
                p{
                    font-size: 18px;
                    color: #f00;
                }
            }
        }
        
        .title-name{
            font-size: 26px;
            color: #333;
        }
        .submit-review{
            font-size: 18px;
            color: #999;
        }
        #status-check{
            font-size: 16px;
        }
        #under{
            &.list > .item-block{
                padding-left: 10px;
            }
            &.list > .item-block:last-child{
                border-bottom: 0 none;
            }
            #bottom{
                background: #fff;
                padding:{
                    top: 10px;
                    left: 16px;
                    right: 16px;
                }
                #firstBorder{
                                
                    &:first-child{
                        padding-top: 10px;
                        border-top: 1px solid #dbdbdb;
                    }
                }
            }
            
            .item-block{
                min-height: 2rem;
                .item-inner{
                    height: 2.5rem;
                }
                .left-text{
                    font-size: 18px;
                    display: flex;
                    .title-data{
                        display: inline-block;
                        width: 8rem;
                        margin-right: 10px;
                        text-align: right;
                    }
                    .varble{
                        display: inline-block;
                        flex: 1;
                        color: #333;
                        // word-wrap: break-word; 
                        // word-break: normal; 
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
        #button{
            margin-bottom: 0;
            font-size: 18px;
            color: #fff;
        }
        #picture-show{
            display: flex;
            height: 100%;
            width: 100%;
            background: #fff;
            span{
                display: inline-block;
                width: 8.8rem;
                text-align: right;
                font-size: 1.8rem;
                color: #999;
                margin-right: 10px;
            }
            .certificate-pic{
                display: flex;
                flex-wrap: wrap;
                .img-eff{
                    display: inline-block;
                    max-width: 100%;
                    height: 100px;
                    margin-right:10px;
                    margin-bottom: 10px;
                }
            }
            
        }

        #reason{
            margin: 15px 0 20px;
        }
    }
}
