page-reimbursement {

    #title-pointer{
        cursor: pointer;
        
    }
    .down-center{
        vertical-align: middle;
        margin-left: 5px;
        font-size: 24px;
    }
    .label{
        .down-center{
            vertical-align: middle;
            margin-left: 5px;
            font-size: 24px;
        }
    }
    .apply{
        font-size: 1.6rem;
        color: #fff;
        cursor: pointer;
    }

    #reimbursement{
        position: relative;
        background-color: #f4f4f4;
        #under-model{
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .5);
            z-index: 2;
        }
        #select-all{
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10;
            // background: rgba(0, 0, 0, .5);
            .list-ios > .item-block:first-child{
                border-top: 0 none;
            }
            .list-md > .item-block:last-child{
                border-bottom: 0.55px solid #c8c7cc;
            }
            .item-md{
                text-align: center;
                padding-left: 0;
                cursor: pointer;
                &.active-child{
                    color: #38c0ff;
                }
            }
            .item-ios{
                @extend .item-md;
            }
        }
        #status-list{
            width: 100%;
            .list-ios > .item-block:first-child{
                border: 0 none;
            }
            .list > .item-block:first-child{
                border: 0 none;
            }
            .list-ios > .item-block:last-child{
                border-bottom: 0 ;
            }
            .list > .item-block:last-child{
                border-bottom: 0 ;
            }
            .title-name{
                font-size: 2rem;
                color: #333;
            }
            .item-ios{
                padding-left: 0;
            }
            .item-inner{
                padding-left: 16px;
            }
            .happen{
                font-size: 1.6rem;
                color: #999;
            }
            .time-date{

                text-align: right;
                .new-time{
                    font-size: 1.4rem;
                    color: #999;
                }
            }
        }
    }
}
