page-reimbursement {

    // .select-ios .select-icon .select-icon-inner{
    //     left: 0;
    //     top: 0;
    //     position: absolute;
    //     width: 0;
    //     height: 0;
    //     border-top: 0 solid;
    //     border-right:0 solid transparent;
    //     border-left: 0 solid transparent;
    //     color: #fff;
    //     pointer-events: none;
    // }
    .select .select-icon .select-icon-inner{
        left: 0;
        top: 0;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 0 solid;
        border-right:0 solid transparent;
        border-left: 0 solid transparent;
        color: #fff;
        pointer-events: none;
    }
    .label-ios{
        margin-top: 55px;
        .down-center{
            vertical-align: middle;
            margin-left: 5px;
            font-size: 24px;
        }
    }
    .label{
     
        .down-center{
            vertical-align: middle;
            margin-left: 5px;
            font-size: 24px;
        }
    }
    .apply{
        font-size: 1.6rem;
        color: #fff;
        cursor: pointer;
    }
}
