page-personalinfor {
    #information{
        background-color: #f4f4f4;
        #modify{
            margin-bottom: 20px;
            .modify-pic{
                height: 6.8rem;
            }
            .avatar{
                height: 70px;
                width: 70px;
                border-radius: 50%;
            }
        }
        #personList{
            &.list-ios > .item-block:first-child{
                border-top: 0;
            }
            &.list-ios > .item-block:last-child{
                border-bottom: 0;
            }
            .reveal{
                margin: 0;
                font-size: 1.7rem;
            }
        }
        
    }
}
