page-setting {
    #settings{
        padding-top: 10px;
        background: #f4f4f4;
        .list-ios > .item-block:last-child{
            border-bottom: 0 none;
        }
        .list{
            margin-top: 20px;
    
        }
        .list-ios{
            margin-top: 20px;
           .item-block:first-child{
                border-top: 0 none;
            }
            
        }
    }
}
