<ion-header>

  <ion-navbar color="energy" no-border-bottom>
    <ion-title class="toCenter">借款详情</ion-title>
  </ion-navbar>

</ion-header>

<ion-content id="content">
    <ion-list>
      <ion-item>
          <h3 class="title-name">王博文</h3>
          <p class="happen">提交时间： 2017-08-19</p>
          <div class="time-date" item-right>
              <button ion-button color="{{statusColor}}" round>{{ status }}</button>
          </div>
      </ion-item>
      <ion-item  class="no-bottom-border">
        <p class="detail1">
          <span>预计借款时间：</span><span>2017-08-19</span>
        </p>
        <p class="detail1">
          <span>借款金额：</span><span>200(元)</span>
        </p>
        <p class="detail1">
          <span>借款方式：</span><span>现金</span>
        </p>
        <p class="detail1">
          <span>地区：</span><span>广州</span>
        </p>
        <p class="detail1">
          <span>项目名称：</span><span>广州1481项目</span>
        </p>
        <p class="detail1">
          <span>负责人：</span><span>孟小宝</span>
        </p>
        <p class="detail1">
          <span>一级科目：</span><span>营业外支出</span>
        </p>
        <p class="detail1">
          <span>二级科目：</span><span>罚款</span>
        </p>
        <p class="detail1">
          <span>三级科目：</span><span>交通罚款</span>
        </p>
        <p class="detail1">
          <span>参与人：</span><span>孟小宝</span>
        </p>
        <p class="detail1">
          <span>商品链接：</span><span>http://wwww.baidu.com</span>
        </p>
        <p class="detail1">
          <span>补充说明：</span><span>请看大屏幕</span>
        </p>
        <p class="voucher">
          <span>凭证：</span>
          <span class="img">
            <i><img src="assets/imgs/userImage1.png"></i>
            <i><img src="assets/imgs/userImage2.png"></i>
            <i><img src="assets/imgs/userImage1.png"></i>
            <i><img src="assets/imgs/userImage2.png"></i>
          </span>
        </p>
      </ion-item>
      <ion-item  class="no-bottom-border" *ngIf="status == '已还款'">
        <p class="detail1">
          <span>还款方式：</span><span>现金</span>
        </p>
        <p class="detail1">
          <span>还款时间：</span><span>2017-08-19</span>
        </p>
        <p class="detail1">
          <span>实际用款：</span><span>20(元)</span>
        </p>
        <p class="detail1">
          <span>退回金额：</span><span>180(元)</span>
        </p>
        <p class="detail1">
          <span>还款说明：</span><span>实际用款20元，退回180元</span>
        </p>
        <p class="voucher">
          <span>凭证：</span>
          <span class="img">
            <i><img src="assets/imgs/userImage1.png"></i>
            <i><img src="assets/imgs/userImage2.png"></i>
          </span>
        </p>
        <p class="detail1">
          <span>收件人：</span><span>孟小宝</span>
        </p>
        <p class="detail1">
          <span>寄件时间：</span><span>2017-08-19</span>
        </p>
        <p class="detail1">
          <span>地址：</span><span>广东省天河区长福路1号</span>
        </p>
        <p class="detail1">
          <span>备注：</span><span>收到记得提醒我</span>
        </p>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item class="no-bottom-border no-top-border">
          审核过程/原因
          <ion-icon name="my-arrow-right" md="md-my-arrow-right" color="lightprimary" clear item-right></ion-icon>
      </ion-item>
    </ion-list>
      <button ion-button icon-only full color="red" class="pay" *ngIf="isAuditor" (click)="buttonFn(status)">
        {{buttonName || '待定'}}
      </button>
      <button ion-button icon-only full color="orangel" class="pay" *ngIf="status == '待解冻'">
        {{ buttonName }}
      </button>
</ion-content>
