
page-business-other {

    #otherInfo{
        background: #f4f4f4;
        #infoOther{
            .list-ios > .item-block:first-child{
                border-top: 0 none;
            }
            .list-ios > .item-block:last-child{
                border-bottom: 0;
            }
            .item-list{
                display: flex;
                padding-left: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                &:last-child{
                    border-bottom: 0;
                }
                span{
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    &:first-child{
                        width: 12rem;
                        color: #666;
                        padding-left: 16px;
                    }
                    &:last-child{
                        flex: 0 0 50%;
                        
                    }
                }
            }
        }
        
    }
}
