<ion-header>

  <ion-navbar color="energy">
    <ion-title class="toCenter">寄件</ion-title>
    <ion-buttons end>
      <button ion-button class="submit" (click)="confirm()">确认</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content id="post">
  <ion-list>
    <ion-item>
      <ion-label>收件人</ion-label>
      <ion-select [(ngModel)]="paramObj.sendRecevier" placeholder="请选择收件人" interface="action-sheet" okText="确定" cancelText="取消">
        <ion-option *ngFor="let item of lenderList">{{item}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>寄件时间</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="paramObj.sendDate" doneText="确定" cancelText="取消"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>地区</ion-label>
      <ion-select [(ngModel)]="paramObj.receiveArea" okText="确定" cancelText="取消">
        <ion-option *ngFor="let item of areaList">{{item}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item id="adress">
      <ion-label>详细地址</ion-label>
      <ion-input type="text" [(ngModel)]="paramObj.receiveAddr" placeholder="请输入详细地址" class="input-address"></ion-input>
    </ion-item>
    <ion-item id="remarks">
      <ion-label>备注</ion-label>
    </ion-item>
    <ion-item id="block">
      <ion-textarea [(ngModel)]="paramObj.sendCondition" placeholder="请输入备注" class="textrea"></ion-textarea>
    </ion-item>
  </ion-list>

</ion-content>
