page-mailing {
    .sure{
        font-size: 18px;
    }
    #post{
        width: 100%;
        background: #f4f4f4;
        .label-md{
            color: #333;
            
        }
        .item-md{
            padding-left: 0;
        }
        .item-ios{
            padding-left: 0;
        }
        .item-block{
            .item-inner{
                padding-left: 16px;
            }
        } 
        #adress{
            .item-inner{
                border-bottom: 0 none;
            }
        }
        .input-address{
            .text-input{
                text-align: right;
            }
        }
        #remarks{
            margin-top: 15px;
            .item-inner{
                border-bottom: 0 none;
            }
        }
        #block{
            height: 10rem;
            margin-top: -10px;
            .textrea{
                textarea{
                    resize: none;
                    margin-left: 0; 
                }
            }
            .item-inner{
                border-bottom: 0 none;
            }
          
        }
        .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
            border-bottom: 0 none; 
        }
        .list-md .item-input:last-child{
            border-bottom: 0 none;
        }
    }

}
